@media screen and (max-width:960px){
    .bnr{
        /* display: none; */
        width: 80%;
    }
    .b{
        width: 100%;
    }
    .b img{
        width: 100%;
    }
    .box{
        margin: auto;
    }
    .box1{
        display: block;
        margin: auto;
    }
}
@media screen and (max-width:600px){
    .fa-bars{
        display: block;
    }
    .img{
        width: 60px;

        margin-left: 5px;
        background: url("./media\ img.png") no-repeat center/cover;
    }
    .input{
        display: none;
    }
    .icons{
        margin-left: 150px;
    }
    .navTop{
        display: none;
    }
    .box{
        margin: auto;
    }
    .box1{
        display: block;
        margin: auto;
    }
    .banner2{
        height: 40vh;
    }
    .bo{
        margin: 20px 150px;
    }
    .bnr{
        width: 98%;
    }
    .b{
        width: 90%;
        margin: auto;
    }
    .b img{
        width: 100%;
    }
}

