*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 30px;
    /* background-color: #fff;
    position: fixed;
    top: 0; */
}

.img{
    width: 200px;
    height: 50px;
    background: url("./overstock-com-logo-6A6E21D545-seeklogo.com.png") no-repeat center/cover;

}
.input{
    width: 820px;
    height: 34px;
    display: flex;
    border-radius: 3px;
    margin-left: 20px;
    border: 1px solid #0007;
}
.input input{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    text-indent: 12px;

}
.input button{
    width: 5%;
    height: 100%;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    background: #ff1f2c;
}
.icons{
    width: 300px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.icons i{
    font-size: 20px;
}
.fa-bars{
    font-size: 30px;
    display: none;
}
.navTop{
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #0007;
    border-top: 1px solid #0007;
}
ul{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
}
.item{
    color: red;
}
.banner{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 90%;
    height: 100%;
    object-fit: cover;
}
.title{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.banners{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box{
    margin: auto;
}
.box1{
    display: none;
    margin: auto;
}
.banner2{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2 img{
    width: 90%;
    height: 100%;
}
.titl{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tit{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.bannerss{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}










.carousel{
    width: 80%;
    margin: auto;
    display: flex;
    overflow-x: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.carousel_item img{
    width: 250px;
}
.carousel_item{
    width: 200px;
    min-width: 300px;
    height: 350px;
    /* border: 1px solid red; */
    margin: 10px;
    overflow: hidden;
}
.carousel::-webkit-scrollbar{
    height: 6px;
}
.carousel::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius: 6px;
}   







.baner{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.baner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fa-tag{
    color: orange;
}
.one p{
    color: orange;
}






















.bner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.bo{
    width: 300px;
    overflow: hidden;
    height: 420px;
    margin-top: 10px;
    margin: auto;
    background-color: #f0f0f0;
    margin-top: 30px;
}
.t{
    text-align: center;
    margin: 2px;
}



.bnr{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    margin: auto;
    margin-top: 30px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}
.b{
    width: 440px;
    overflow: hidden;
    margin: auto;
    height: 380px;
}
.b h3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(34, 34, 34);
    font-size: 30px;
}
.b h2{
    text-align: center;
    margin: auto;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 35px;
    width: 280px;
    color: rgb(34, 34, 34);
}
.b p{
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
}
.b button{
    width: 160px;
    height: 40px;
    border: none;
    background-color: #fff;
    font-size: 20px;
    margin: auto;
    display: block;
    margin-top: 30px;
}



















.past{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.boxx{
    width: 370px;
    height: 440px;
    background-color: #f0f0f0;
    /* overflow: hidden; */
    margin: auto;
    margin-top: 20px;
}
.boxx img{
    width: 100%;
    height: 80%;
}
.texts{
    padding: 12px;
}
.texts h3{
    margin-bottom: 5px;
}
.texts p{
    line-height: 1.2;
}

.btnn{
    width: 180px;
    height: 40px;
    background-color: #111;
    border-radius: 6px;
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 70px;
}
.bannnerss{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
    /* border: 1px solid red; */
}
.boxxx{
    width: 410px;
    /* border: 1px solid blue; */
    margin: auto;
}
.boxxx button{
    width: 90%;
    height: 50px;
    background-color: #f0f0f0;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 700;
}

.hr{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f0f0f0;
}







.footer{
    width: 100%;
    background-color: #545658;
    display: flex;
    flex-wrap: wrap;
}
.ox{
    width: 300px;
    height: 400px;
    
}
.ox p{
    margin-left: 100px;
    color: #fff;
    line-height: 3;
    font-size: 12px;
}
.ox b{
    margin-left: 100px;
    color: #fff;
    line-height: 3;
    margin-top: 50px;
    font-size: 14px;
    display: block;
}